.admin-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1c1c1c;
    color: white;
  }
  
  .adminnavbar_headerlogo {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 50%;
  }
  
  /* Profile Menu */
  .profile-menu {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 8%; /* Adjusts the space between profile and the right side of the navbar */
  }
  
  .admin-name {
    margin-right: 1.5rem; /* Increased margin between admin name and dropdown button */
    font-size: 1.2rem;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    padding-right: 10px; /* Adds padding between the dropdown button and the logout content */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: right;
  }
  
  .dropdown-content span {
    color: black;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-content span:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  